body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Candara, Serif, monospace;
}
#register-container{
    margin: 20px;
    padding: 15px;
    background-color: lightgreen;
    flex-direction: column;
    align-items: stretch;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    width: 300px;
}
#foutmelding-gebruikersnaam{
    color: red;
}
#foutmelding-wachtwoord{
    color: red;
}